body {
    background: url(imag/Arcoirisv3.jpg) no-repeat fixed center center;
    background-size: cover; 
}
h1 {
    text-align: center;
    font-family: 'Coustard', serif;
}
h2 {
    text-align: center;
}